/* Catppuccin Mocha base + Lavender accent */
:root {
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;

  --surface0: #313244;
  --surface1: #45475a;
  --surface2: #585b70;

  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;

  --lavender: #b4befe;
  --mauve: #cba6f7;
  --green: #a6e3a1;
  --yellow: #f9e2af;
  --red: #f38ba8;
  --blue: #89b4fa;
}
